
body {
    background-color: black;
    color: purple;
    font-family: 'Times New Roman', Times, serif;
}

input{
    text-align: center;
    margin-left:calc(50% - 120px); 
} 

div {
    margin-left:calc(50% - 120px); 
}



