
body {
  background: black;
  color: rad;
}

p {
  font-size: 20px;
  text-align: center;
}

input {
  font-size: 20px;
  text-align: center;
  width: 80px;
  height: 20px;
}

button {
  width: 80px;
  height: 20px;
  cursor: pointer;
  background-color: purple;
  border-radius: 10px;
}
