*{
    margin: 0;
    padding: o;
}

body {
    background-color: black;
    color: purple;
    font-family: 'Times New Roman', Times, serif;
}

input{
    text-align: center;
    magin-left:calc(50% - 180px); 
} 





